@font-face {
  font-family: "iconfont"; /* Project id 4295256 */
  src: url('iconfont.woff2?t=1699688280972') format('woff2'),
       url('iconfont.woff?t=1699688280972') format('woff'),
       url('iconfont.ttf?t=1699688280972') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like-full:before {
  content: "\e99f";
}

.icon-like:before {
  content: "\e9a0";
}

.icon-write:before {
  content: "\e60e";
}

.icon-comment:before {
  content: "\e601";
}

.icon-browser:before {
  content: "\e816";
}

