head-height = 70px
theme-color = #8FA399
bg-head-color = #8FA399
bg-modal-color = #fafafa
bg-main-color = #fff
bg-body-color = #f7f8fc

iptBorder-head-color = #fafafa
border-main-color = #999
border-grey-color = rgb(226, 226, 226)
border-modal-color = #5e767c

font-common-color = #333
font-head-color = #fafafa
font-modal-color = #555
font-main-color = #555
font-placeholder-color = rgba(0,0,0,.4)
font-writeplace-color = #ccc

bg-color-red = #FF4E50
bg-orange = #FA6900
bg-green = #A7DBD8

margin-space = 8px
padding-space = 8px
border-radius-default = 8px

font-size-h = 16px
font-size-p = 12px

bg-column-color1 = #f2ede1
bg-column-color2 = #A9B8A9
bg-column-color3 = #B3CCB1
bg-column-color4 = #97AD97